spring:
  application:
    name: eureka-server

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false # save yourself as eureka server ?
    fetch-registry: false # take service list from other service

server:
  port: 8082