spring:
  application:
    name: motivation-sentence

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
      javax:
        persistence:
          validations:
            mode: none

  datasource:
    url: ${DB_HOST}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

server:
  port: 8086

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_HOST}